@use '../abstracts/' as *;

// stile per i link dentro la lista della navbar
.nav-link a {
    color: inherit;
    font-weight: $font-weight-normal;
    text-decoration: none;
    padding: 7px 15px;
    transition: color 0.1s;
}

// effetto hover sui link della navbar
.nav-link a:hover {
    color: $color-gray-700;
}

// stile per il link attivo
.nav-link a.router-link-active {
    background-color: #f4f4f482;
    font-weight: $font-weight-bold;
    border: 1px solid $color-primary-200;
    border-radius: 5px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;

    &:hover {
        color: $color-black;
    }
}