@use '../abstracts/' as *;

/* SCROLLBAR PERSONALIZZATA */
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: rgba($color-primary, 0.05);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba($color-primary, 0.4);
    border-radius: 10px;
    border: 1px solid rgba($color-primary, 0.05);
}