// CTA BUTTON used in Home and Cart section (if cart is empty)
.btn-one {
    background-color: #f7a380;
    color: $color-white;
    font-family: $font-family-base;
    font-weight: $font-weight-bold;
    font-size: 1.2rem;
    padding: 0.9rem 2rem;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        background-color: $color-primary;
        transform: scale(1.01);
    }
}