.dropdown-menu {
    background-color: $color-white;
    border: 1px solid $color-gray-700;
    border-radius: 8px;

    .dropdown-item {
        color: $color-black;
        font-size: 0.9rem;
        font-family: $font-family-base;
        font-weight: $font-weight-normal;
        transition: font-weight 0.2s ease, color 0.2s ease;

        &:hover,
        &:focus {
            font-weight: $font-weight-bold;
        }
    }
}