@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

// font family definitions
$font-family-base: 'Inter', sans-serif;
$font-family-hand: 'EB Garamond', serif;

// weight definitions
$font-weight-normal: 400;
$font-weight-bold: 700;