// Bootstrap (se la tua versione supporta @use; altrimenti tieni import temporaneo)
@use "bootstrap/scss/bootstrap";

// Base e componenti (namespace o as * se vuoi)
@use "./base/global";
@use "./base/animations";
@use "./components/buttons";
@use "./components/forms";
@use "./components/navbar";
@use "./components/dropdown";
@use "./components/scrollbar";
@use "./components/headers"

// --- START CSS OUTSIDE SCSS FILES USED ---