// Espongo le variabili e i mixin come globali per semplificare il legacy:
@use '../abstracts/' as *;


// rules globals on the project
html {
    box-sizing: border-box;
    font-size: 16px; // base font-size adjusted whit rem em

    @media screen and (max-width: $breakpoint-lg) {
        font-size: 15px;
    }

    @media screen and (max-width:$breakpoint-sm) {
        font-size: 14px;
    }
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    background: radial-gradient(125% 125% at 50% 10%, #fac696 40%, white 100%); // gradient di sfondo principale
    color: $color-black;
    font-family: $font-family-base;
    font-weight: $font-weight-normal;
    line-height: 1.5;
}

// ----------------------

ul,
li {
    list-style: none;
    margin-bottom: 0; //TODO resolve piccolo bug margin-bottom automatico
}

// classe per le immagini delle bandiere nei dropdown + lingua attiva
.flag {
    display: inline-block;
    width: 20px;
    height: 15px;
    object-fit: cover;
    border-radius: 2px;
}

i.bi-x-lg {
    cursor: pointer;
}