// Espongo le variabili e i mixin come globali per semplificare il legacy:
@use '../abstracts/' as *;


// rules globals on the project
html {
    box-sizing: border-box;
    font-size: 16px; // base font-size adjusted whit rem em

    @media screen and (max-width: $breakpoint-lg) {
        font-size: 15px;
    }

    @media screen and (max-width:$breakpoint-sm) {
        font-size: 14px;
    }
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    background-color: $body-bg;
    color: $color-black;
    font-family: $font-family-base;
    font-weight: $font-weight-normal;
    line-height: 1.5;
}

// ----------------------

ul,
li {
    list-style: none;
    margin-bottom: 0; //TODO resolve piccolo bug margin-bottom automatico
}

// overlay sfondo nero per menu/modali
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    z-index: 2;
}

// classe per le immagini delle bandiere nei dropdown + lingua attiva
.flag {
    display: inline-block;
    width: 20px;
    height: 15px;
    object-fit: cover;
    border-radius: 2px;
}

// classe per i link di redirect tra login e register
.link-account {
    display: inline-block;
    width: fit-content;
    color: $color-primary;
    text-decoration: underline;
    margin: 0 auto;
    cursor: pointer;
}

i.bi-x-lg {
    cursor: pointer;
}